<div class="yxt-AutoComplete-wrapper js-yxt-AutoComplete-wrapper">
  <span class="yxt-AutoComplete-resultsCount sr-only" aria-live="assertive"
        id="{{autocompleteContainerIdName}}-label">
    {{#if hasResults}}
      {{#each sections}}
        {{#if label}}
          {{translate
            phrase='[[resultsCount]] [[label]] autocomplete option found.'
            pluralForm='[[resultsCount]] [[label]] autocomplete options found.'
            resultsCount=resultsCount
            label=label
            count=resultsCount
          }}
        {{else}}
          {{translate
            phrase='[[resultsCount]] autocomplete option found.'
            pluralForm='[[resultsCount]] autocomplete options found.'
            resultsCount=resultsCount
            count=resultsCount
          }}
        {{/if}}
      {{/each}}
    {{else if isAlreadyOpen}}
      {{translate
        phrase='[[resultsCount]] autocomplete option found.'
        pluralForm='[[resultsCount]] autocomplete options found.'
        resultsCount=0
        count=0
      }}
    {{/if}}
  </span>
  {{#if hasResults}}
    <div class="yxt-AutoComplete" role="listbox" id="{{autocompleteContainerIdName}}-results"
         aria-labelledby="{{autocompleteContainerIdName}}-label">
      {{assign 'currentSelected' sectionIndex resultIndex}}
      {{#if promptHeader}}
        <ul class="yxt-AutoComplete-results">
          <li class="yxt-AutoComplete-option yxt-AutoComplete-option--promptHeader">
            {{promptHeader}}
          </li>
        </ul>
      {{/if}}
      {{#each sections}}
        <ul role="group"
            class="yxt-AutoComplete-results"
            aria-labelledby="{{../listLabelIdName}}"
        >
        {{#if label}}
          <li class="yxt-AutoComplete-resultHeader">{{label}}</li>
        {{/if}}
        {{#each results}}
          {{assign 'currentIndex' @../index @index}}
          <li class="js-yext-autocomplete-option yxt-AutoComplete-option yxt-AutoComplete-option--item{{#ifeq ../../currentSelected ../../currentIndex}} yxt-selected{{/ifeq}}"
              data-value="{{value}}"
              data-short="{{shortValue}}"
              data-filter='{{json filter}}'
              data-eventtype="AUTO_COMPLETE_SELECTION"
              data-eventoptions='{{json (lookup (lookup @root.eventOptions @../index) @index) }}'
              role="option"
              id="yxt-AutoComplete-option-{{../../_config.name}}-{{@../index}}-{{@index}}"
          >
              {{highlightValue this true}}
          </li>
        {{/each}}
        </ul>
      {{/each}}
    </div>
  {{/if}}
</div>
