{{#if hasResults}}
  <div class="yxt-AutoComplete">
    {{assign 'currentSelected' sectionIndex resultIndex}}
    {{#if promptHeader}}
      <ul class="yxt-AutoComplete-results">
        <li class="yxt-AutoComplete-option yxt-AutoComplete-option--promptHeader">
          {{promptHeader}}
        </li>
      </ul>
    {{/if}}
    {{#each sections}}
      <ul class="yxt-AutoComplete-results">
      {{#if label}}
        <li class="yxt-AutoComplete-resultHeader">{{label}}</li>
      {{/if}}
      {{#each results}}
        {{assign 'currentIndex' @../index @index}}
        <li class="js-yext-autocomplete-option yxt-AutoComplete-option yxt-AutoComplete-option--item{{#ifeq ../../currentSelected ../../currentIndex}} yxt-selected{{/ifeq}}"
            data-value="{{value}}"
            data-short="{{shortValue}}"
            data-filter='{{json filter}}'
        >
            {{{highlightedValue}}}
        </li>
      {{/each}}
      </ul>
    {{/each}}
  </div>
{{/if}}
