{{!// TODO (creotutar) def not multilang safe}}
{{!// TODO (bmcginnis) probably needs better label / placeholder setup for WCAG }}
<h1 class="yxt-SearchBar-title">{{title}}</h1>
<div class="yxt-SearchBar">
  <div class="yxt-SearchBar-container">
    <form class="yxt-SearchBar-form">
      <label class="yxt-SearchBar-label" for="query">{{labelText}}</label>
      {{!// TODO (bmcginnis): migrate js class names}}
      <input class="js-yext-query yxt-SearchBar-input" type="text" name="query" value="{{query}}">
      <button
        type="button"
        class="js-yxt-SearchBar-clear yxt-SearchBar-clear yxt-SearchBar-hidden"
        data-eventtype="SEARCH_CLEAR_BUTTON"
        data-component="IconComponent"
        data-opts='{ "iconName": "close" }'
        data-prop="icon"
      >
      </button>
      <button type="submit" class="js-yext-submit yxt-SearchBar-button">
        <div class="yxt-SearchBar-buttonImage"
             data-component="IconComponent"
             data-opts='{
                "iconName": "{{#if submitIcon}}{{submitIcon}}{{else}}magnifying_glass{{/if}}",
                "customIcon": "{{_config.customIcon}}",
                "iconUrl": "{{_config.customIconUrl}}"
              }'
             data-prop="icon"
        ></div>
        <span class="yxt-SearchBar-buttonText sr-only">
          {{submitText}}
        </span>
      </button>
    </form>
    <div class="yxt-SearchBar-autocomplete yxt-AutoComplete-wrapper js-yxt-AutoComplete-wrapper"></div>
  </div>
</div>
