<div class="yxt-SearchBar">
  <div class="yxt-SearchBar-container">
      <form class="yxt-SearchBar-form">
        <input class="js-yext-query yxt-SearchBar-input"
          type="text"
          name="query"
          value="{{query}}"
          {{#if _config.placeholderText}}placeholder="{{_config.placeholderText}}"{{/if}}
          aria-label="{{labelText}}">
          <span class="yxt-SearchBar-clearButtonText sr-only">
            {{clearText}}
          </span>
        </button>
        <button type="submit" class="js-yext-submit yxt-SearchBar-button">
          <span class="yxt-SearchBar-buttonText sr-only">
            {{submitText}}
          </span>
        </button>
      </form>
    <div class="yxt-SearchBar-autocomplete yxt-AutoComplete-wrapper js-yxt-AutoComplete-wrapper"></div>
  </div>
</div>