
<section class="yxt-QuestionSubmission">

  <button
    class="yxt-QuestionSubmission-titleBar js-content-visibility-toggle"
    tabindex="0"
    aria-label="{{translate phrase='expand question form' }}"
    aria-controls="yxt-QuestionSubmission-form-{{name}}"
    aria-expanded="{{#if questionExpanded}}true{{else}}false{{/if}}">
    <div class="yxt-QuestionSubmission-left">
      <div class="yxt-QuestionSubmission-titleIconWrapper"
          data-component="IconComponent"
          data-opts='{
              "iconName": "{{_config.sectionTitleIconName}}"
            }'
          data-prop="icon"
      ></div>
      <div class="yxt-QuestionSubmission-title">
        {{_config.sectionTitle}}
      </div>
    </div>
    <div class="yxt-QuestionSubmission-right">
      <div class="yxt-QuestionSubmission-titleDescription">
        {{_config.teaser}}
      </div>
      <span class="yxt-QuestionSubmission-toggle{{#if questionExpanded}}--expanded{{else}}--collapsed{{/if}} yxt-QuestionSubmission-toggle"
        data-component="IconComponent"
        data-opts='{ "iconName": "chevron" }'
        data-prop="icon"
      ></span>
    </div>
  </button>

  {{#if questionExpanded}}

    {{#if questionSubmitted}}
      <div id="yxt-QuestionSubmission-form-{{name}}" class="yxt-QuestionSubmission-form">
        <div class="yxt-QuestionSubmission-formRow">
          {{{_config.questionSubmissionConfirmationText}}}
        </div>
      </div>
    {{else}}
      <form id="yxt-QuestionSubmission-form-{{name}}" class="yxt-QuestionSubmission-form" novalidate autocomplete="off">
        {{#if errors.network}}
          <div class="yxt-QuestionSubmission-formRow">
            <div class="yxt-QuestionSubmission-formError" role="alert">
              {{_config.networkErrorText}}
            </div>
          </div>
        {{else}}
          <div class="yxt-QuestionSubmission-formRow">
            {{{_config.description}}}
          </div>

          <div class="yxt-QuestionSubmission-formRow yxt-QuestionSubmission-formFieldWrapper">
            <div class="yxt-QuestionSubmission-formField">
              <label>
                <span class="yxt-QuestionSubmission-formLabel">
                  {{_config.questionLabel}}
                </span>
                <textarea class="yxt-QuestionSubmission-formInput js-question-field js-question-text{{#if errors.questionTextError}} yxt-required-error{{/if}}"
                          name="questionText"
                          placeholder="{{_config.questionInputPlaceholder}}"
                          required>{{questionText}}</textarea>
              </label>
            </div>
          </div>

          <div class="yxt-QuestionSubmission-formRow yxt-QuestionSubmission-formFieldWrapper">
            <div class="yxt-QuestionSubmission-formField">
              <label>
                <span class="yxt-QuestionSubmission-formLabel">
                  {{_config.nameLabel}}
                </span>
                <input class="yxt-QuestionSubmission-formInput js-question-field{{#if errors.nameError}} yxt-required-error{{/if}}"
                  name="name"
                  type="text"
                  placeholder="{{_config.requiredInputPlaceholder}}"
                  value="{{name}}"
                  required>
              </label>
            </div>

            <div class="yxt-QuestionSubmission-formField">
              <label>
                <span class="yxt-QuestionSubmission-formLabel">
                  {{_config.emailLabel}}
                </span>
                <input class="yxt-QuestionSubmission-formInput js-question-field{{#if errors.emailError}} yxt-required-error{{/if}}"
                    name="email"
                    type="email"
                    placeholder="{{_config.requiredInputPlaceholder}}"
                    value="{{email}}"
                    required>
              </label>
              <strong class='yxt-QuestionSubmission-inputError'>{{#if errors.emailErrorText}}{{errors.emailErrorText}}{{/if}}</strong>
            </div>
          </div>

          <div class="yxt-QuestionSubmission-acknowledgementBar">
            <div class="yxt-QuestionSubmission-acknowledgement">
              <span class="yxt-QuestionSubmission-privacyPolicy">
                <input type="checkbox"
                    id="yxt-QuestionSubmission-ackCheckboxInput-{{name}}"
                    name="privacyPolicy"
                    class="yxt-QuestionSubmission-ackCheckboxInput js-question-field{{#if errors.privacyPolicyError}} yxt-required-error{{/if}}"
                    required
                >
                <span>
                  <label class="yxt-QuestionSubmission-privacyPolicyText" for="yxt-QuestionSubmission-ackCheckboxInput-{{name}}">
                    {{{_config.privacyPolicyText}}}
                    {{#if _config.privacyPolicyUrl}}
                      <a class="yxt-QuestionSubmission-privacyPolicyUrl" href="{{_config.privacyPolicyUrl}}" target="_blank">
                        {{_config.privacyPolicyUrlLabel}}
                      </a>
                    {{/if}}
                  </label>
                  <strong class='yxt-QuestionSubmission-inputError'>{{#if errors.privacyPolicyErrorText}}{{errors.privacyPolicyErrorText}}{{/if}}</strong>
                </span>
              </span>
            </div>
            <button class="yxt-QuestionSubmission-submitButton" type="submit">{{_config.buttonLabel}}</button>
          </div>
        {{/if}}
      </form>

    {{/if}}

  {{/if}}

</section>
