<div class='yxt-StandardCard'>
  {{#if _config.image}}
    <div style="background-image: url('{{_config.image}}');" class='yxt-StandardCard-image'></div>
  {{/if}}
  <div class='yxt-StandardCard-wrapper'>
    {{#if _config.title}}
      <a href="{{url}}" class='yxt-StandardCard-title' target='_blank'>
        {{_config.title}}
      </a>
    {{/if}}
    {{#if _config.subtitle}}  
      <div class='yxt-StandardCard-subtitle'>
        {{_config.subtitle}}
      </div>
    {{/if}}
    <div class='yxt-StandardCard-content'>
        <div class='yxt-StandardCard-details'
          data-component='ShowMore'
          data-opts="{{showMoreOpts}}"
        </div>
    </div>
  </div>
</div>
