<div class="yxt-StandardCard">
  <div class="yxt-StandardCard-wrapper">
    {{#if _config.showOrdinal}}
      <div class="yxt-StandardCard-ordinalWrapper">
        <div class="yxt-StandardCard-ordinal">
          {{_config.result.ordinal}}
        </div>
      </div>
    {{/if}}
    {{#if _config.image}}
      <div class="yxt-StandardCard-imgWrapper">
        <img src="{{_config.image}}">
        {{#if _config.tagLabel}}
          <div class="yxt-StandardCard-imgTagWrapper">
            <div class="yxt-StandardCard-imgTag">{{_config.tagLabel}}</div>
          </div>
        {{/if}}
      </div>
    {{/if}}
    <div class="yxt-StandardCard-contentWrapper">
      {{#if _config.title}}
        <div class="yxt-StandardCard-title">
          <a {{#if _config.url}} 
            href="{{_config.url}}" target={{#if _config.newWindow}}"_blank" rel="noopener noreferrer nofollow"{{else}}"_self"{{/if}}
          {{/if}}>
            {{_config.title}}
          </a>
        </div>
      {{/if}}
      {{#if _config.subtitle}}  
        <div class="yxt-StandardCard-subtitle">
          {{_config.subtitle}}
        </div>
      {{/if}}
      <div class="yxt-StandardCard-content">
        {{#if details}}
          <div class="yxt-StandardCard-details">
            <div class="yxt-StandardCard-detailsText">
              {{details}}
            </div>
            {{#if _config.showToggle}}
              <button class="yxt-StandardCard-toggle">
                {{#if hideExcessDetails}}
                  {{_config.showMoreText}}
                  <span data-component="IconComponent"
                    data-opts='{ "iconName": "chevron", "classNames": "Icon-sm Icon-collapseDown" }'></span>
                {{else}} 
                  {{_config.showLessText}}
                  <span data-component="IconComponent"
                    data-opts='{ "iconName": "chevron", "classNames": "Icon-sm Icon-collapseUp" }'></span>
                {{/if}}
              </button>
            {{/if}}
          </div>
        {{/if}}
        <div class="yxt-StandardCard-ctas" data-component="CTACollection" data-prop="result"></div>
      </div>
    </div>
  </div>
</div>
