<div class="yxt-StandardCard yxt-StandardCard--{{_config._index}}">
  {{#if _config.showOrdinal}}
    <div class="yxt-StandardCard-ordinalWrapper">
      <div class="yxt-StandardCard-ordinal">
        {{result.ordinal}}
      </div>
    </div>
  {{/if}}
  <div class="yxt-StandardCard-wrapper">
    {{#if _config.image}}
      <div class="yxt-StandardCard-img" style="background-image: url('{{_config.image}}');">
        {{#if _config.tagLabel}}
          <div class="yxt-StandardCard-imgTagWrapper">
            <div class="yxt-StandardCard-imgTag">{{_config.tagLabel}}</div>
          </div>
        {{/if}}
      </div>
    {{/if}}
    <div class="yxt-StandardCard-contentWrapper">
      {{#if _config.title}}
        {{#if _config.url}}
          {{#if _config.newWindow}}
            <a class="yxt-StandardCard-titleLink js-yxt-StandardCard-title" href="//{{_config.url}}" target="_blank" rel="noopener noreferrer nofollow">
              {{_config.title}}
            </a>
          {{else}}
            <a class="yxt-StandardCard-titleLink js-yxt-StandardCard-title" href="//{{_config.url}}" target="_self">
              {{_config.title}}
            </a>
          {{/if}}
        {{else}}
          <div class="yxt-StandardCard-title">{{_config.title}}</div>
        {{/if}}
      {{/if}}
      {{#if _config.subtitle}}  
        <div class="yxt-StandardCard-subtitle">
          {{_config.subtitle}}
        </div>
      {{/if}}
      <div class="yxt-StandardCard-content">
        {{#if details}}
          <div class="yxt-StandardCard-details">
            <div class="yxt-StandardCard-detailsText">
              {{details}}
            </div>
            {{#if _config.showToggle}}
              <button class="yxt-StandardCard-toggle js-yxt-StandardCard-toggle">
                {{#if hideExcessDetails}}
                  {{_config.showMoreText}}
                  <span data-component="IconComponent"
                    data-opts='{ "iconName": "chevron", "classNames": "Icon-sm Icon-collapseDown" }'></span>
                {{else}} 
                  {{_config.showLessText}}
                  <span data-component="IconComponent"
                    data-opts='{ "iconName": "chevron", "classNames": "Icon-sm Icon-collapseUp" }'></span>
                {{/if}}
              </button>
            {{/if}}
          </div>
        {{/if}}
        <div class="yxt-StandardCard-ctas" data-component="CTACollection" data-prop="result"></div>
      </div>
    </div>
  </div>
</div>
