<div class="yxt-ResultsFooter">
  {{#if _config.url}} 
    <a href="//{{_config.url}}"
      target={{#if _config.newWindow}}"_blank"
      rel="noopener noreferrer nofollow"{{else}}"_self"{{/if}}
      aria-label="Vertical Results footer link"
    >
    {{#if _config.screenReaderText}}
      <span class="sr-only" tabIndex="0">{{_config.screenReaderText}}</span>
    {{/if}}
  {{/if}}
  

  {{#if _config.image}}
    <img src="{{_config.image}}">
  {{/if}}
  {{#if _config.icon}}
    <span data-component="IconComponent" data-opts='{ "iconName": "{{_config.icon}}" }'></span>
  {{/if}}

  {{#if _config.url}} 
    </a>
  {{/if}}
</div>