<div class="yxt-AlternativeVerticals{{#unless isShowingResults}} yxt-AlternativeVerticals--notShowingResults{{/unless}}">
  <div class="yxt-AlternativeVerticals-noResultsInfo">
    {{translate phrase='<em class="yxt-AlternativeVerticals-noResultsInfo--emphasized">No results found</em> in [[currentVerticalLabel]].' currentVerticalLabel=currentVerticalLabel }}
    {{#if isShowingResults}}
      {{translate phrase='Showing <em class="yxt-AlternativeVerticals-noResultsInfo--emphasized">all [[currentVerticalLabel]]</em> instead.' currentVerticalLabel=currentVerticalLabel }}
    {{/if}}
  </div>
  {{#if verticalSuggestions}}
    <div class="yxt-AlternativeVerticals-suggestionsWrapper">
      <div class="yxt-AlternativeVerticals-details">
        {{translate phrase='The following search category yielded results for <span class="yxt-AlternativeVerticals-details--query">"[[query]]"</span>:' pluralForm='The following search categories yielded results for <span class="yxt-AlternativeVerticals-details--query">"[[query]]"</span>:' count=verticalSuggestions.length query=query }}
      </div>
      <ul class="yxt-AlternativeVerticals-suggestionsList">
        {{#each verticalSuggestions}}
          <li class="yxt-AlternativeVerticals-suggestion">
            <a class="yxt-AlternativeVerticals-suggestionLink"
                href="{{url}}">
              {{#if hasIcon}}
                <div class="yxt-AlternativeVerticals-verticalIconWrapper"
                      data-component="IconComponent"
                      data-opts='{
                        "iconName": "{{iconName}}",
                        "iconUrl": "{{iconUrl}}"
                      }'>
                </div>
              {{/if}}
              <div class="yxt-AlternativeVerticals-suggestionLink--copy">
                <span class="yxt-AlternativeVerticals-suggestionLink--copyLabel">
                  {{label}}
                </span>
                <span class="yxt-AlternativeVerticals-suggestionLink--copyResults">
                  {{translate phrase='([[resultsCount]] result)' pluralForm='([[resultsCount]] results)' count=resultsCount resultsCount=resultsCount }}
                </span>
              </div>
              <div class="yxt-AlternativeVerticals-arrowIconWrapper"
                    data-component="IconComponent"
                    data-opts='{
                      "iconName": "chevron"
                    }'>
              </div>
            </a>
          </li>
        {{/each}}
      </ul>
      {{#if universalUrl}}
        <div class="yxt-AlternativeVerticals-universalDetails">
          {{translate phrase='Alternatively, you can <a class="yxt-AlternativeVerticals-universalLink" href="[[universalUrl]]"> view results across all search categories</a>.' universalUrl=universalUrl }}
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>
