{{#if shouldDisplayComponent}}
  <div class="yxt-AlternativeVerticals">
    <div class="yxt-AlternativeVerticals-suggestionsWrapper">
      The following search categories yielded results
      {{#if query}}
        for<span class="yxt-AlternativeVerticals-query"> {{query}}</span>
      {{/if}}
    </div>
    <ul class="yxt-AlternativeVerticals-suggestionsList">
      {{#each verticalSuggestions}}
        {{#with this}}
          <li class="yxt-AlternativeVerticals-suggestion">
            <a class="yxt-AlternativeVerticals-suggestionLink"
               href="{{url}}">
              <span class="yxt-AlternativeVerticals-verticalIconWrapper"
                    data-component="IconComponent"
                    data-opts='{
                      "iconName": "{{iconName}}"
                    }'>
              </span>
              <span class="yxt-AlternativeVerticals-suggestionsListItem">
                {{label}} ({{resultsCount}} results)
              </span>
              <span class="yxt-AlternativeVerticals-arrowIconWrapper"
                    data-component="IconComponent"
                    data-opts='{
                      "iconName": "chevron"
                    }'>
              </span>
            </a>
          </li>
        {{/with}}
      {{/each}}
    </ul>
    {{#if universalUrl}}
      <div class="yxt-AlternativeVerticals-universalDetails">
        Alternatively, you can <a href={{universalUrl}}>view results across all categories</a>.
      </div>
    {{/if}}
  </div>
{{/if}}
