<li class="yxt-Result{{#if modifier}} yxt-Result--{{modifier}}{{/if}} yxt-Result-item">
  <div class="yxt-Result-wrapper">
    {{#if showOrdinal}}
      <div class="yxt-Result-ordinalWrapper">
        <div class="yxt-Result-ordinal">
          {{ordinal}}
        </div>
      </div>
    {{/if}}

    <div class="yxt-Result-info">
      <h3 class="yxt-Result-title">
        {{#if link}}
          <a class="yxt-Result-titleLink" href="{{link}}">
        {{/if}}

        {{{title}}}

        {{#if link}}
          </a>
        {{/if}}
      </h3>

      <div class="yxt-Result-details">
        {{{details}}}
      </div>
    </div>

    {{#if callsToAction}}
      <div class="yxt-Result-ctasWrapper">
        <div class="yxt-Result-ctas">
          {{#each callsToAction}}
            <a class="yxt-Result-cta" href="{{this.url}}">
              {{#if this.icon}}
                <div class="yxt-Result-ctaIconWrapper">
                  <img class="yxt-Result-ctaIcon" src="{{this.icon}}" alt="">
                </div>
              {{/if}}
              <span class="yxt-Result-ctaLabel">
                {{{this.label}}}
              </span>
            </a>
          {{/each}}
        </div>
      </div>
    {{/if}}
  </div>
</li>
