<div class="yxt-NoResults">
  <div class="yxt-NoResults-wrapper">
    <p class="yxt-NoResults-info">
      {{#if _config.noResultsMessage}}
        {{_config.noResultsMessage}}
      {{else}}
        Your search - <span class="yxt-NoResults-query">{{query}}</span> - did not match any answers we have.
      {{/if}}
    </p>
    {{#if universalUrl}}
      <p class="yxt-NoResults-returnLinkWrapper">
        {{#if _config.noResultsTryUniversalMessage}}
          {{{_config.noResultsTryUniversalMessage}}}
        {{else}}
          Try refining your query or <a href="{{universalUrl}}" class="yxt-NoResults-returnLink">search all content.</a>
        {{/if}}
      </p>
    {{/if}}
    <div class="yxt-NoResults-suggestions">
      <p class="yxt-NoResults-suggestionsHeader">
        {{#if _config.noResultsSuggestionsTitle}}
          {{_config.noResultsSuggestionsTitle}}
        {{else}}
          Suggestions:
        {{/if}}
      </p>
      <ul class="yxt-NoResults-suggestionsList">
        {{#each _config.noResultsSuggestions}}
          <li class="yxt-NoResults-suggestion">{{this}}</li>
        {{else}}
          <li class="yxt-NoResults-suggestion">Make sure all words are spelled correctly.</li>
          <li class="yxt-NoResults-suggestion">Try to ask your question a different way.</li>
          <li class="yxt-NoResults-suggestion">Try more general words.</li>
          <li class="yxt-NoResults-suggestion">Try fewer words.</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
