{{#if showControls}}
  <div class="yxt-Pagination">
    {{#if firstPageButtonEnabled}}
      <button class="yxt-Pagination-button js-yxt-Pagination-first {{#unless showFirstPageButton}}yxt-Pagination--hidden{{/unless}}"
        {{#unless showFirstPageButton}}disabled{{/unless}}
        data-eventtype="BACKWARD_PAGINATE"
        data-eventoptions='{"furthermost":true, "pageNumber":{{pageNumber}} }'
        aria-label="Go to the first page of results"
      >
        {{#unless icons.firstButtonIcon}}
          <span class="yxt-Pagination-doubleChevron--left"
                data-component="IconComponent"
                data-opts='{ "iconName": "chevron" }'></span>
          <span class="yxt-Pagination-chevron--left"
                data-component="IconComponent"
                data-opts='{ "iconName": "chevron" }'></span>
        {{else}}
          <span class="yxt-Pagination-doubleChevron--left"
                data-component="IconComponent"
                data-opts='{ "iconUrl": "{{icons.firstButtonIcon}}" }'></span>
        {{/unless}}
      </button>
    {{/if}}
    <button class="yxt-Pagination-button js-yxt-Pagination-previous {{#unless showPreviousPageButton}}yxt-Pagination--hidden{{/unless}}"
      {{#unless showPreviousPageButton}}disabled{{/unless}}
      data-eventtype="BACKWARD_PAGINATE"
      data-eventoptions='{"furthermost":false, "pageNumber":{{pageNumber}} }'
      aria-label="Go to the previous page of results"
    >
      {{#unless icons.previousButtonIcon}}
        <span class="yxt-Pagination-chevron--left"
              data-component="IconComponent"
              data-opts='{ "iconName": "chevron" }'></span>
      {{else}}
        <span class="yxt-Pagination-chevron--left"
              data-component="IconComponent"
              data-opts='{ "iconUrl": "{{icons.previousButtonIcon}}" }'></span>
      {{/unless}}
    </button>

    <span class="yxt-Pagination-page">{{pageLabel}} {{pageNumber}}</span>

    <button class="yxt-Pagination-button js-yxt-Pagination-next {{#unless showNextPageButton}}yxt-Pagination--hidden{{/unless}}"
      {{#unless showNextPageButton}}disabled{{/unless}}
      data-eventtype="FORWARD_PAGINATE"
      data-eventoptions='{"furthermost":false, "pageNumber":{{pageNumber}} }'
        aria-label="Go to the next page of results"
    >
      {{#unless icons.nextButtonIcon}}
        <span class="yxt-Pagination-chevron"
              data-component="IconComponent"
              data-opts='{ "iconName": "chevron" }'></span>
      {{else}}
        <span class="yxt-Pagination-chevron"
              data-component="IconComponent"
              data-opts='{ "iconUrl": "{{icons.nextButtonIcon}}" }'></span>
      {{/unless}}
    </button>
    {{#if lastPageButtonEnabled}}
      <button class="yxt-Pagination-button js-yxt-Pagination-last {{#unless showLastPageButton}}yxt-Pagination--hidden{{/unless}}"
        {{#unless showLastPageButton}}disabled{{/unless}}
        data-eventtype="FORWARD_PAGINATE"
        data-eventoptions='{"furthermost":true, "pageNumber":{{pageNumber}} }'
        aria-label="Go to the last page of results"
      >
        {{#unless icons.lastButtonIcon}}
        <span class="yxt-Pagination-doubleChevron"
              data-component="IconComponent"
              data-opts='{ "iconName": "chevron" }'></span>
        <span class="yxt-Pagination-chevron"
              data-component="IconComponent"
              data-opts='{ "iconName": "chevron" }'></span>
        {{else}}
          <span class="yxt-Pagination-doubleChevron"
              data-component="IconComponent"
              data-opts='{ "iconUrl": "{{icons.lastButtonIcon}}" }'></span>
        {{/unless}}
      </button>
    {{/if}}
  </div>
{{/if}}
