{{#if showControls}}
  <div class="yxt-Pagination">
    {{#if firstPageButtonEnabled}}
      <a class="yxt-Pagination-link yxt-Pagination-icon js-yxt-Pagination-first {{#unless showFirstPageButton}}yxt-Pagination--hidden{{/unless}}"
        data-eventtype="PAGINATE"
        data-eventoptions='{"currentPage":{{pageNumber}}, "newPage":1, "totalPageCount":{{maxPage}} }'
        aria-label="{{translate phrase='Go to the first page of results' }}"
        tabindex="0"
      >
        {{#unless icons.firstButtonIcon}}
          <span class="yxt-Pagination-doubleChevron--left"
                data-component="IconComponent"
                data-opts='{ "iconName": "chevron" }'></span>
          <span class="yxt-Pagination-chevron--left"
                data-component="IconComponent"
                data-opts='{ "iconName": "chevron" }'></span>
        {{else}}
          <span class="yxt-Pagination-doubleChevron--left"
                data-component="IconComponent"
                data-opts='{ "iconUrl": "{{icons.firstButtonIcon}}" }'></span>
        {{/unless}}
      </a>
    {{/if}}
    <a class="yxt-Pagination-link yxt-Pagination-icon js-yxt-Pagination-previous {{#unless showPreviousPageButton}}yxt-Pagination--hidden{{/unless}}"
      {{#unless showPreviousPageButton}}disabled{{/unless}}
      data-eventtype="PAGINATE"
      data-eventoptions='{"currentPage":{{pageNumber}}, "newPage":{{#sub pageNumber 1}}{{/sub}}, "totalPageCount":{{maxPage}} }'
      aria-label="Go to the previous page of results"
      tabindex="0"
    >
      {{#unless icons.previousButtonIcon}}
        <span class="yxt-Pagination-chevron--left"
              data-component="IconComponent"
              data-opts='{ "iconName": "chevron" }'></span>
      {{else}}
        <span class="yxt-Pagination-chevron--left"
              data-component="IconComponent"
              data-opts='{ "iconUrl": "{{icons.previousButtonIcon}}" }'></span>
      {{/unless}}
    </a>

    <a
      class="yxt-Pagination-link js-yxt-Pagination-link{{#unless pinnedNumbers.desktopBack}} desktop-hidden{{/unless}}{{#unless pinnedNumbers.mobileBack}} mobile-hidden{{/unless}}"
      aria-label="{{translate phrase='Go to page 1 of results' }}"
      data-number="1"
      data-eventtype="PAGINATE"
      data-eventoptions='{"currentPage":{{pageNumber}}, "newPage":1, "totalPageCount":{{maxPage}} }'
      tabindex="0"
    >
      1
    </a>

    <span class="yxt-Pagination-page{{#unless ellipses.desktopBack}} desktop-hidden{{/unless}}{{#unless ellipses.mobileBack}} mobile-hidden{{/unless}}">
      ...
    </span>

    {{#each pageNumbers}}
      {{#if this.active}}
        <span id="active-page" class="yxt-Pagination-page{{#if this.activeMobile}} yxt-Pagination--activeMobile{{/if}}{{#if this.activeDesktop}} yxt-Pagination--activeDesktop{{/if}}"
        aria-label="{{translate phrase='Currently on page [[pageNumber]]' pageNumber=../pageNumber }}">{{../pageLabel}} {{../pageNumber}}</span>
      {{else}}
        {{#unless (and this.desktopHidden this.mobileHidden)}}
          <a
            class="yxt-Pagination-link js-yxt-Pagination-link{{#if this.desktopHidden}} desktop-hidden{{/if}}{{#if this.mobileHidden}} mobile-hidden{{/if}}"
            aria-label="{{translate phrase='Go to page [[pageNumber]] of results' pageNumber=this.number }}"
            data-number="{{this.number}}"
            data-eventtype="PAGINATE"
            data-eventoptions='{"currentPage":{{../pageNumber}}, "newPage":{{this.number}}, "totalPageCount":{{../maxPage}} }'
            tabindex="0"
          >
            {{this.number}}
          </a>
        {{/unless}}
      {{/if}}
    {{/each}}

    <span class="yxt-Pagination-page{{#unless ellipses.desktopFront}} desktop-hidden{{/unless}}{{#unless ellipses.mobileFront}} mobile-hidden{{/unless}}">
      ...
    </span>

    <a
      class="yxt-Pagination-link js-yxt-Pagination-link{{#unless pinnedNumbers.desktopFront}} desktop-hidden{{/unless}}{{#unless pinnedNumbers.mobileFront}} mobile-hidden{{/unless}}"
      aria-label="{{translate phrase='Go to page [[maxPage]] of results' maxPage=maxPage }}"
      data-number="{{maxPage}}"
      tabindex="0"
    >
      {{maxPage}}
    </a>

    <a class="yxt-Pagination-link yxt-Pagination-icon js-yxt-Pagination-next {{#unless showNextPageButton}}yxt-Pagination--hidden{{/unless}}"
      {{#unless showNextPageButton}}disabled{{/unless}}
      data-eventtype="PAGINATE"
      data-eventoptions='{"currentPage":{{pageNumber}}, "newPage":{{#add pageNumber 1}}{{/add}}, "totalPageCount":{{maxPage}} }'
      aria-label="{{translate phrase='Go to the next page of results' }}"
      tabindex="0"
    >
      {{#unless icons.nextButtonIcon}}
        <span class="yxt-Pagination-chevron"
              data-component="IconComponent"
              data-opts='{ "iconName": "chevron" }'></span>
      {{else}}
        <span class="yxt-Pagination-chevron"
              data-component="IconComponent"
              data-opts='{ "iconUrl": "{{icons.nextButtonIcon}}" }'></span>
      {{/unless}}
    </a>
    {{#if lastPageButtonEnabled}}
      <a class="yxt-Pagination-link yxt-Pagination-icon js-yxt-Pagination-last {{#unless showLastPageButton}}yxt-Pagination--hidden{{/unless}}"
        data-eventtype="PAGINATE"
        data-eventoptions='{"currentPage":{{pageNumber}}, "newPage":{{maxPage}}, "totalPageCount":{{maxPage}} }'
        aria-label="{{translate phrase='Go to the last page of results' }}"
        tabindex="0"
      >
        {{#unless icons.lastButtonIcon}}
        <span class="yxt-Pagination-doubleChevron"
              data-component="IconComponent"
              data-opts='{ "iconName": "chevron" }'></span>
        <span class="yxt-Pagination-chevron"
              data-component="IconComponent"
              data-opts='{ "iconName": "chevron" }'></span>
        {{else}}
          <span class="yxt-Pagination-doubleChevron"
              data-component="IconComponent"
              data-opts='{ "iconUrl": "{{icons.lastButtonIcon}}" }'></span>
        {{/unless}}
      </a>
    {{/if}}
  </div>
{{/if}}
