{{#if showControls}}
  <div class="yxt-Pagination">
    {{#if firstPageButtonEnabled}}
      <button class="yxt-Pagination-button js-yxt-Pagination-first {{#unless showFirstPageButton}}yxt-Pagination--hidden{{/unless}}"
        {{#unless showFirstPageButton}}disabled{{/unless}}
        data-eventtype="PAGINATE"
        data-eventoptions='{"currentPage":{{pageNumber}}, "newPage":1, "totalPageCount":{{maxPage}} }'
        aria-label="Go to the first page of results"
      >
        {{#unless icons.firstButtonIcon}}
          <span class="yxt-Pagination-doubleChevron--left"
                data-component="IconComponent"
                data-opts='{ "iconName": "chevron" }'></span>
          <span class="yxt-Pagination-chevron--left"
                data-component="IconComponent"
                data-opts='{ "iconName": "chevron" }'></span>
        {{else}}
          <span class="yxt-Pagination-doubleChevron--left"
                data-component="IconComponent"
                data-opts='{ "iconUrl": "{{icons.firstButtonIcon}}" }'></span>
        {{/unless}}
      </button>
    {{/if}}
    <button class="yxt-Pagination-button js-yxt-Pagination-previous {{#unless showPreviousPageButton}}yxt-Pagination--hidden{{/unless}}"
      {{#unless showPreviousPageButton}}disabled{{/unless}}
      data-eventtype="PAGINATE"
      data-eventoptions='{"currentPage":{{pageNumber}}, "newPage":{{#sub pageNumber 1}}{{/sub}}, "totalPageCount":{{maxPage}} }'
      aria-label="Go to the previous page of results"
    >
      {{#unless icons.previousButtonIcon}}
        <span class="yxt-Pagination-chevron--left"
              data-component="IconComponent"
              data-opts='{ "iconName": "chevron" }'></span>
      {{else}}
        <span class="yxt-Pagination-chevron--left"
              data-component="IconComponent"
              data-opts='{ "iconUrl": "{{icons.previousButtonIcon}}" }'></span>
      {{/unless}}
    </button>

    <a
      class="yxt-Pagination-link js-yxt-Pagination-link{{#unless (and pinPages ellipses.desktopBack)}} desktop-hidden{{/unless}}{{#unless (and pinPages ellipses.mobileBack)}} mobile-hidden{{/unless}}"
      aria-label="Go to page 1 of results"
      data-number="1"
      data-eventtype="PAGINATE"
      data-eventoptions='{"currentPage":{{pageNumber}}, "newPage":1, "totalPageCount":{{maxPage}} }'
    >
      1
    </a>

    <span class="yxt-Pagination-page{{#unless ellipses.desktopBack}} desktop-hidden{{/unless}}{{#unless ellipses.mobileBack}} mobile-hidden{{/unless}}">
      ...
    </span>

    {{#for 1 pageNumber 1}}
      <a 
        class="yxt-Pagination-link js-yxt-Pagination-link{{#if (lte this ../desktopBackLimit)}} desktop-hidden{{/if}}{{#if (lte this ../mobileBackLimit)}} mobile-hidden{{/if}}"
        aria-label="Go to page {{this}} of results"
        data-number="{{this}}"
        data-eventtype="PAGINATE"
        data-eventoptions='{"currentPage":{{../pageNumber}}, "newPage":{{this}}, "totalPageCount":{{../maxPage}} }'
      >
        {{this}}
      </a>
    {{/for}}

    <span id="active-page" class="yxt-Pagination-page">{{pageLabel}} {{pageNumber}}</span>

    {{#for nextPage (add maxPage 1) 1}}
      <a 
        class="yxt-Pagination-link js-yxt-Pagination-link{{#if (gt this ../desktopFrontLimit)}} desktop-hidden{{/if}}{{#if (gt this ../mobileFrontLimit)}} mobile-hidden{{/if}}"
        aria-label="Go to page {{this}} of results"
        data-number="{{this}}"
        data-eventtype="PAGINATE"
        data-eventoptions='{"currentPage":{{../pageNumber}}, "newPage":{{this}}, "totalPageCount":{{../maxPage}} }'
      >
        {{this}}
      </a>
    {{/for}}

    <span class="yxt-Pagination-page{{#unless ellipses.desktopFront}} desktop-hidden{{/unless}}{{#unless ellipses.mobileFront}} mobile-hidden{{/unless}}">
      ...
    </span>

    <a
      class="yxt-Pagination-link js-yxt-Pagination-link{{#unless (and pinPages ellipses.desktopFront)}} desktop-hidden{{/unless}}{{#unless (and pinPages ellipses.mobileFront)}} mobile-hidden{{/unless}}"
      aria-label="Go to page 1 of results"
      data-number="{{maxPage}}"
    >
      {{maxPage}}
    </a>

    <button class="yxt-Pagination-button js-yxt-Pagination-next {{#unless showNextPageButton}}yxt-Pagination--hidden{{/unless}}"
      {{#unless showNextPageButton}}disabled{{/unless}}
      data-eventtype="PAGINATE"
      data-eventoptions='{"currentPage":{{pageNumber}}, "newPage":{{#add pageNumber 1}}{{/add}}, "totalPageCount":{{maxPage}} }'
        aria-label="Go to the next page of results"
    >
      {{#unless icons.nextButtonIcon}}
        <span class="yxt-Pagination-chevron"
              data-component="IconComponent"
              data-opts='{ "iconName": "chevron" }'></span>
      {{else}}
        <span class="yxt-Pagination-chevron"
              data-component="IconComponent"
              data-opts='{ "iconUrl": "{{icons.nextButtonIcon}}" }'></span>
      {{/unless}}
    </button>
    {{#if lastPageButtonEnabled}}
      <button class="yxt-Pagination-button js-yxt-Pagination-last {{#unless showLastPageButton}}yxt-Pagination--hidden{{/unless}}"
        {{#unless showLastPageButton}}disabled{{/unless}}
        data-eventtype="PAGINATE"
        data-eventoptions='{"currentPage":{{pageNumber}}, "newPage":{{maxPage}}, "totalPageCount":{{maxPage}} }'
        aria-label="Go to the last page of results"
      >
        {{#unless icons.lastButtonIcon}}
        <span class="yxt-Pagination-doubleChevron"
              data-component="IconComponent"
              data-opts='{ "iconName": "chevron" }'></span>
        <span class="yxt-Pagination-chevron"
              data-component="IconComponent"
              data-opts='{ "iconName": "chevron" }'></span>
        {{else}}
          <span class="yxt-Pagination-doubleChevron"
              data-component="IconComponent"
              data-opts='{ "iconUrl": "{{icons.lastButtonIcon}}" }'></span>
        {{/unless}}
      </button>
    {{/if}}
  </div>
{{/if}}
