<div class="yxt-ResultsHeader {{#if isExpanded}} yxt-ResultsHeader-expanded {{/if}}">
  {{#if _config.showResultsCount}}
    <div class="yxt-ResultsHeader-resultsCount">
      {{resultsCountStart}}-{{resultsCountEnd}} of {{_config.resultsCount}} 
    </div>
    {{#if showResultSeparator}}
      <div class="yxt-ResultsHeader-separator">{{_config.resultsCountSeparator}}</div>
    {{/if}}
  {{/if}}
  {{#if shouldShowFilters}}
    <div data-component="AppliedFilters" data-opts='{{json _config.appliedFiltersOpts}}'></div>
  {{/if}}
</div>
