{{#if (or shouldShowFilters (and _config.showResultCount resultsCount))}}
  <div class="yxt-ResultsHeader
    {{~#if _config.isUniversal}} yxt-ResultsHeader--universal yxt-Results-filters{{/if}}
    {{~#if _config.removable}} yxt-ResultsHeader--removable{{/if}}">
    {{> resultscount}}
    {{#if showResultSeparator}}
      <div class="yxt-ResultsHeader-resultsCountSeparator">{{_config.resultsCountSeparator}}</div>
    {{/if}}
    {{> filters}}
  </div>
{{/if}}

{{#*inline "resultscount"}}
  {{#if (and _config.showResultCount resultsCount)}}
    {{#if customResultsCount}}
      {{{customResultsCount}}}
    {{else}}
      <div class="yxt-ResultsHeader-resultsCount"
           aria-label="{{translate phrase='[[start]] through [[end]] of [[resultsCount]]' start=resultsCountStart end=resultsCountEnd resultsCount=resultsCount }}">
        <div aria-hidden="true">
          {{translate phrase='<span class="yxt-ResultsHeader-resultsCountStart">[[start]]</span> <span class="yxt-ResultsHeader-resultsCountDash">-</span> <span class="yxt-ResultsHeader-resultsCountEnd">[[end]]</span> <span class="yxt-ResultsHeader-resultsCountOf">of</span> <span class="yxt-ResultsHeader-resultsCountTotal">[[resultsCount]]</span>' context='Example: 1-10 of 50' start=resultsCountStart end=resultsCountEnd resultsCount=resultsCount }}
        </div>
      </div>
    {{/if}}
  {{/if}}
{{/inline}}

{{#*inline "filters"}}
  {{#if shouldShowFilters}}
    <div class="yxt-ResultsHeader-appliedFilters" aria-label="{{_config.labelText}}">
      {{#each appliedFiltersArray}}
        {{#if ../_config.showFieldNames}}
          <div class="yxt-ResultsHeader-filterLabel">
            <span class="yxt-ResultsHeader-filterLabelText">{{this.label}}</span>
            <span class="yxt-ResultsHeader-filterLabelColon">:</span>
          </div>
        {{/if}}
        {{#each filterDataArray}}
          {{#if removable}}
            <button class="yxt-ResultsHeader-removableFilterTag js-yxt-ResultsHeader-removableFilterTag"
              data-filter-id={{dataFilterId}} tabindex="0" aria-label="{{../../_config.removableLabelText}}">
              <span class="yxt-ResultsHeader-removableFilterValue">{{displayValue}}</span>
              <span class="yxt-ResultsHeader-removableFilterX">&times;</span>
            </button>
          {{else}}
            <div class="yxt-ResultsHeader-filterValue">
              <span class="yxt-ResultsHeader-filterValueText">{{displayValue}}</span>
              {{#unless @last}}<span class="yxt-ResultsHeader-filterValueComma">,</span>{{/unless}}
            </div>
          {{/if}}
        {{/each}}
        {{#unless @last}}
          <div class="yxt-ResultsHeader-filterSeparator">{{../_config.delimiter}}</div>
        {{/unless}}
      {{/each}}
    {{#every _config.isUniversal _config.verticalURL _config.showChangeFilters}}
      <a class="yxt-ResultsHeader-changeFilters" href="{{ _config.verticalURL }}"
        data-middleclick="active"
        data-eventtype="FILTERING_WITHIN_SECTION"
        data-eventoptions='{{eventOptions}}'
      >
        {{#if _config.changeFiltersText}}
          {{_config.changeFiltersText}}
        {{else}}
          {{translate phrase='change filters' context='Change is a verb, filters are a set of fixed values or criteria that limit results' }}
        {{/if}}
      </a>
    {{/every}}
    </div>
  {{/if}}
{{/inline}}
