{{#some shouldShowFilters _config.showResultCount}}
  <div class="yxt-ResultsHeader{{#if _config.isUniversal}} yxt-ResultsHeader--universal{{/if}}">
    {{> resultscount}}
    {{#every _config.showResultCount resultsCount shouldShowFilters}}
      <div class="yxt-ResultsHeader-resultsCountSeparator">{{_config.resultsCountSeparator}}</div>
    {{/every}}
    {{> appliedFilters}}
  </div>
{{/some}}

{{#*inline "resultscount"}}
  {{#every _config.showResultCount resultsCount}}
    <div class="yxt-ResultsHeader-resultsCount" aria-label="{{resultsCountStart}} through {{resultsCountEnd}} of {{resultsCount}}">
      <div aria-hidden="true">
        <span class="yxt-ResultsHeader-resultsCountStart">{{resultsCountStart}}</span>
        <span class="yxt-ResultsHeader-resultsCountDash">-</span>
        <span class="yxt-ResultsHeader-resultsCountEnd">{{resultsCountEnd}}</span>
        <span class="yxt-ResultsHeader-resultsCountOf">of</span>
        <span class="yxt-ResultsHeader-resultsCountTotal">{{resultsCount}}</span>
      </div>
    </div>
  {{/every}}
{{/inline}}

{{#*inline "appliedFilters"}}
  {{#if shouldShowFilters}}
    <div class="yxt-AppliedFilters js-yxt-AppliedFilters">
      <div class="yxt-AppliedFilters-content js-yxt-AppliedFilters-content">
        {{> sortedBy}}
        {{> filters}}
        {{> changeFilters}}
      </div>
      <div class="yxt-AppliedFilters-toggle yxt-AppliedFilters-toggle--down js-yxt-AppliedFilters-toggle"
        data-component="IconComponent" 
        data-opts='{ "iconName": "chevron" }'>
      </div>
    </div>
  {{/if}}
{{/inline}}

{{#*inline "sortedBy"}}
  {{#if sortOptions}}
    {{#if _config.showFieldNames}}
      <div class="yxt-AppliedFilters-fieldName">Sorted By:</div>
    {{/if}}
    {{#each sortOptions}}
      <div class="yxt-AppliedFilters-displayValue">{{this.label}}</div>
    {{/each}}
    {{#if appliedFilters}}
      <div class="yxt-AppliedFilters-filterSeparator">|</div>
    {{/if}}
  {{/if}}
{{/inline}}

{{#*inline "filters"}}
  {{#each appliedFilters}}
    {{#if ../_config.showFieldNames}}
      <div class="yxt-AppliedFilters-fieldName">{{this.label}}:</div>
    {{/if}}
    {{#each this.displayValues}}
      <div class="yxt-AppliedFilters-displayValue">{{this}}{{#unless @last}}, {{/unless}}</div>
    {{/each}}
    {{#unless @last}}
      <div class="yxt-AppliedFilters-filterSeparator">|</div>
    {{/unless}}
  {{/each}}
{{/inline}}

{{#*inline "changeFilters"}}
  {{#every _config.isUniversal _config.verticalURL _config.showChangeFilters}}
    <a class="yxt-ResultsHeader-changeFilters" href="{{ _config.verticalURL }}">
      change filters
    </a>
  {{/every}}
{{/inline}}
