{{#if results}}
  <section class="yext-result-list">
    <h1>
      {{verticalConfigId}}
      {{#if verticalURL}}(<a href="{{verticalURL}}">View More</a>){{/if}}
    </h1>
    {{#if includeMap}}
      {{#ifeq mapConfig.mapProvider 'google'}}
        <div class="yext-map-container"
            data-component="Map"
            data-prop="map"
            data-opts='{"isStatic": true}'>
        </div>
      {{/ifeq}}
      {{#ifeq mapConfig.mapProvider 'mapBox'}}
        {{{mapBox map mapConfig}}}
      {{/ifeq}}
    {{/if}}
    <ul class="yext-filters-applied">
      {{#each appliedQueryFilters}}
        <li class="yext-filter">
          <span class="yext-filter-key">{{key}}:</span>
          <span class="yext-filter-value"> {{value}}</span>
        </li>
      {{/each}}
    </ul>
    {{> results/resultitems}}
  </section>
{{/if}}