<div class="yxt-ResultsHeader{{#if _config.isUniversal}} yxt-ResultsHeader--universal{{/if}}">
  {{> resultscount}}
  {{#if showResultSeparator}}
    <div class="yxt-ResultsHeader-resultsCountSeparator">{{_config.resultsCountSeparator}}</div>
  {{/if}}
  {{> filters}}
</div>

{{#*inline "resultscount"}}
  {{#every _config.showResultCount resultsCount}}
    <div class="yxt-ResultsHeader-resultsCount" aria-label="{{resultsCountStart}} through {{resultsCountEnd}} of {{resultsCount}}">
      <div aria-hidden="true">
        <span class="yxt-ResultsHeader-resultsCountStart">{{resultsCountStart}}</span>
        <span class="yxt-ResultsHeader-resultsCountDash">-</span>
        <span class="yxt-ResultsHeader-resultsCountEnd">{{resultsCountEnd}}</span>
        <span class="yxt-ResultsHeader-resultsCountOf">of</span>
        <span class="yxt-ResultsHeader-resultsCountTotal">{{resultsCount}}</span>
      </div>
    </div>
  {{/every}}
{{/inline}}

{{#*inline "filters"}}
  {{#if shouldShowFilters}}
    <div class="yxt-ResultsHeader-appliedFilters">
      {{#each appliedFiltersArray}}
        {{#if ../_config.showFieldNames}}
          <div class="yxt-ResultsHeader-filterLabel">
            <span class="yxt-ResultsHeader-filterLabelText">{{this.label}}</span>
            <span class="yxt-ResultsHeader-filterLabelColon">:</span>
          </div>
        {{/if}}
        {{#each this.displayValues}}
          <div class="yxt-ResultsHeader-filterValue">{{this}}{{#unless @last}}, {{/unless}}</div>
        {{/each}}
        {{#unless @last}}
          <div class="yxt-ResultsHeader-filterSeparator">{{../_config.delimiter}}</div>
        {{/unless}}
      {{/each}}
    {{#every _config.isUniversal _config.verticalURL _config.showChangeFilters}}
      <a class="yxt-ResultsHeader-changeFilters" href="{{ _config.verticalURL }}">
        change filters
      </a>
    {{/every}}
    </div>
  {{/if}}
{{/inline}}