<li class="yxt-Result{{#if _config._parentOpts.modifier}} yxt-Result--{{_config._parentOpts.modifier}}{{/if}} yxt-Result-item">
  <div class="yxt-Result-wrapper">
    {{#if _config._parentOpts.showOrdinal}}
      <div class="yxt-Result-ordinalWrapper">
        <div class="yxt-Result-ordinal">
          {{ordinal}}
        </div>
      </div>
    {{/if}}

    {{#if bigDate.day}}
      <div class="yxt-Result-dateWrapper">
        <div class="yxt-Result-dateInnerWrapper">
          <span class="yxt-Result-day">{{bigDate.day}}</span>
          <span class="yxt-Result-month">{{bigDate.month}}</span>
        </div>
      </div>
    {{/if}}

    {{#if image.url}}
        <div class="yxt-Result-imageWrapper">
          <img class="yxt-Result-image" src="{{image.url}}" alt="{{image.alternateText}}">
        </div>
    {{/if}}

    <div class="yxt-Result-info">
      <h3 class="yxt-Result-title">
        {{#if link}}
          <a class="yxt-Result-titleLink" href="{{link}}" data-eventtype="TITLE_CLICK">{{{title}}}</a>
        {{else}}
          {{title}}
        {{/if}}
      </h3>

      {{#if subtitle}}
        <div class="yxt-Result-subtitle">
          {{{subtitle}}}
        </div>
      {{/if}}

      {{#if details}}
        <div class="yxt-Result-details">
          {{{details}}}
        </div>
      {{/if}}
    </div>

    {{#if callsToAction}}
      <div class="yxt-Result-ctasWrapper">
        <div class="yxt-Result-ctas">
          {{#each callsToAction}}
            {{#if this.url}}
              <div class="Result-ctaWrapper">
                <a class="yxt-Result-cta" href="{{this.url}}"
                  {{#if this.eventType}} data-eventtype="{{this.eventType}}"{{/if}}
                  {{#if this.eventOptions}} data-eventoptions='{{this.eventOptions}}'{{/if}}>
                  {{#if this.icon}}
                    <div class="yxt-Result-ctaIconWrapper">
                      <img class="yxt-Result-ctaIcon" src="{{this.icon}}" alt="">
                    </div>
                  {{/if}}
                  <span class="yxt-Result-ctaLabel">
                    {{{this.label}}}
                  </span>
                </a>
              </div>
            {{/if}}
          {{/each}}
        </div>
      </div>
    {{/if}}
  </div>
</li>
