{{#unless noResults}}
<div class="yxt-ResultsCount" aria-label="{{pageStart}} through {{pageEnd}} of {{total}}">
  <div aria-hidden="true">
    <span class="yxt-ResultsCount-start">{{pageStart}}</span>
    <span class="yxt-ResultsCount-dash">-</span>
    <span class="yxt-ResultsCount-end">{{pageEnd}}</span>
    <span class="yxt-ResultsCount-of">of</span>
    <span class="yxt-ResultsCount-total">{{total}}</span>
  </div>
</div>
{{/unless}}