<div class="yxt-Results-titleBar">
  <div class="yxt-Results-left">
    <div class="yxt-Results-titleIconWrapper"
         data-component="IconComponent"
         data-opts='{
            "iconName": "{{_config.sectionTitleIconName}}",
            "iconUrl": "{{_config.sectionTitleIconUrl}}"
          }'
         data-prop="icon"
    ></div>
    <h2 class="yxt-Results-title">
      {{_config.sectionTitle}}
    </h2>
  </div>
  {{#if verticalURL}}
    <a class="yxt-Results-viewAllLink" href="{{verticalURL}}"
        data-middleclick="active"
        data-eventtype="VERTICAL_VIEW_ALL"
        data-eventoptions='{{eventOptions}}'>
      {{_config.viewAllText}}
    </a>
  {{/if}}
</div>
{{#if appliedQueryFilters}}
  <ul class="yxt-Results-filters">
    {{#each appliedQueryFilters}}
      <li class="yxt-Results-filter">
        <span class="yxt-Results-filterValue">{{value}}</span>
      </li>
    {{/each}}
    {{#if _config.showChangeFilters}}
      {{#if verticalURL}}
        <a class="yxt-Results-changeFilters" href="{{verticalURL}}"
          data-middleclick="active"
          data-eventtype="FILTERING_WITHIN_SECTION"
          data-eventoptions='{{eventOptions}}'
        >
          {{#if _config.changeFiltersText}}
            {{_config.changeFiltersText}}
          {{else}}
            {{translate phrase='change' context='Change is a verb. Example: change filtering logic' }}
          {{/if}}
        </a>
      {{/if}}
    {{/if}}
  </ul>
{{/if}}
