<li class="result-item">
  <div class="result-item-info">
    {{#if name}}<b>Name:</b> {{name}}{{/if}}

    {{#if htmlTitle}}
      <a href="{{{link}}}">{{{htmlTitle}}}</a> - {{{htmlSnippet}}}
      <br>
      {{displayLink}}
    {{/if}}
  </div>
</li>