<div class="yxt-Results-titleBar">
  <div class="yxt-Results-left">
    <div class="yxt-Results-titleIconWrapper"
        data-component="IconComponent"
        data-opts='{
            "iconName": "{{_config.sectionTitleIconName}}",
            "iconUrl": "{{_config.sectionTitleIconUrl}}"
          }'
        data-prop="icon"
    ></div>
    <h2 class="yxt-Results-title">
      {{_config.sectionTitle}}
    </h2>
  </div>
  {{#if verticalURL}}
    <a class="yxt-Results-viewAllLink" href="{{verticalURL}}"
      data-eventtype="VERTICAL_VIEW_ALL"
      data-eventoptions='{{eventOptions}}'>
      {{_config.viewAllText}}
    </a>
  {{/if}}
</div>
