<div class="yxt-Results-titleBar">
  <div class="yxt-Results-left">
    <div class="yxt-Results-titleIconWrapper"
         data-component="IconComponent"
         data-opts='{
            "iconName": "{{_config.sectionTitleIconName}}",
            "customIcon": "{{_config.customSectionTitleIcon}}",
            "iconUrl": "{{_config.sectionTitleIconUrl}}"
          }'
         data-prop="icon"
    ></div>
    <h2 class="yxt-Results-title">
      {{_config.sectionTitle}}
    </h2>
  </div>
  {{#if verticalURL}}
    <a class="yxt-Results-viewAllLink" href="{{verticalURL}}"
       data-eventtype="VERTICAL_VIEW_ALL"
       data-eventoptions='{{eventOptions}}'>
      {{_config.viewAllText}}
    </a>
  {{/if}}
</div>
<div class="yxt-Results-filters" >
  <div class="yxt-DummyContainer" data-component="AppliedFilters" data-opts='{{json _config.appliedFiltersOpts}}'></div>
  {{#if _config.showChangeFilters}}
    {{#if verticalURL}}
      <a class="yxt-Results-changeFilters" href="{{verticalURL}}"
          data-eventtype="FILTERING_WITHIN_SECTION"
          data-eventoptions='{{eventOptions}}'>
        change
      </a>
    {{/if}}
  {{/if}}
</div>

