<div class="yxt-Results-titleBar">
  <div class="yxt-Results-left">
    <div class="yxt-Results-titleIconWrapper">
      <img class="yxt-Results-titleIcon" src="{{_config.sectionTitleIcon}}" alt="">
    </div>
    <h2 class="yxt-Results-title">
      {{_config.sectionTitle}}
    </h2>
  </div>
  {{#if verticalURL}}
    <a class="yxt-Results-viewAllLink" href="{{verticalURL}}">
      {{_config.viewAllText}}
    </a>
  {{/if}}
</div>
{{#if appliedQueryFilters}}
  <ul class="yxt-Results-filters">
    {{#each appliedQueryFilters}}
      <li class="yxt-Results-filter">
        <span class="yxt-Results-filterValue">{{value}}</span>
      </li>
    {{/each}}
    {{#if _config.showChangeFilters}}
      {{#if verticalURL}}
        <a class="yxt-Results-changeFilters" href="{{verticalURL}}">
          change
        </a>
      {{/if}}
    {{/if}}
  </ul>
{{/if}}
