{{#if isSearchComplete}}
  {{#if showNoResults}}
    {{> noResults}}
  {{/if}}
  {{#if resultsPresent}}
    <section class="yxt-Results yxt-Results--{{_config.modifier}}{{#if _config.isUniversal}} yxt-Results--universal{{/if}}">
      {{> titleBar}}
      {{> resultsHeader }}
      {{> map}}
      {{> results}}
      {{> viewMore}}
    </section>
  {{/if}}
{{/if}}

{{#*inline "noResults"}}
  {{#if useLegacyNoResults}}
    {{> results/noresults}}
  {{else}}
    <div class="yxt-Results-alternativeVerticals"
          data-component="AlternativeVerticals"></div>
  {{/if}}
{{/inline}}


{{#*inline "titleBar"}}
  {{#if _config.isUniversal}}
    <div class="yxt-Results-titleBar">
      {{#if iconIsBuiltIn}}
        <div class="yxt-Results-titleIconWrapper"
          data-component="IconComponent"
          data-opts='{ "iconName": "{{ _config.icon }}" }'></div>
      {{else}}
        <div class="yxt-Results-titleIconWrapper"
          data-component="IconComponent"
          data-opts='{ "iconUrl": "{{ _config.icon }}" }'></div>
      {{/if}}
      <h2 class="yxt-Results-title">{{_config.title}}</h2>
    </div>
  {{/if}}
{{/inline}}

{{#*inline 'resultsHeader'}}
  {{#if showResultsHeader}}
    <div data-component="ResultsHeader"></div>
  {{/if}}
{{/inline}}

{{#*inline "results"}}
  <div class="yxt-Results-items js-yxt-Results-items{{#if numColumns}} yxt-Results-items--{{numColumns}}{{/if}}">
    {{#each results}}
      <div class="yxt-Card{{#if ../_config.isUniversal}} yxt-Card--universal{{/if}}"
        data-component="Card"
        data-opts='{ "_index": {{@index}} }'>
      </div>
    {{/each}}
    {{#each placeholders}}
      <div class="yxt-Card-placeholder" aria-hidden="true"></div>
    {{/each}}
  </div>
{{/inline}}

{{#*inline "map"}}
  {{#if _config.includeMap}}
    <div class="yxt-Results-map"
          data-component="Map"
          data-prop="map">
    </div>
  {{/if}}
{{/inline}}

{{#*inline "viewMore"}}
  {{#if _config.isUniversal}}
    <div class="yxt-Results-viewMore">
      <a class="yxt-Results-viewMoreLink" href="{{ verticalURL }}">
        <div class="yxt-Results-viewMoreLabel">{{_config.viewMoreLabel}}</div>
        <div data-component="IconComponent" data-opts='{ "iconName": "chevron" }'></div>
      </a>
    </div>
  {{/if}}
{{/inline}}
