<nav class="yxt-Nav-container js-yxt-navContainer {{#unless showCollapse}} yxt-Nav-static{{/unless}}">
  <ul class="yxt-Nav-expanded" aria-label="{{ariaLabel}}">
    {{#each tabs}}
      <li>
        <a class="js-yxt-navItem yxt-Nav-item{{#if isActive}} is-active{{/if}}"
          href="{{url}}"
          data-middleclick="active"
          {{#if @first}}
            data-eventtype="ALL_TAB_NAVIGATION"
          {{else}}
            data-eventtype="VERTICAL_TAB_NAVIGATION"
            data-eventoptions='{"verticalKey": "{{verticalKey}}"}'
          {{/if}}
        >
          {{label}}
        </a>
      </li>
    {{/each}}
  </ul>
  {{#if showCollapse}}
    <div class="yxt-Nav-moreContainer">
      <button id="yxt-Nav-moreButton" class="yxt-Nav-item yxt-Nav-more yxt-Nav-item--more js-yxt-navMore">
        <span class="yxt-Nav-moreIcon"
        data-component="IconComponent"
        data-opts='{"iconName": "{{overflowIcon}}"}'
        data-prop="icon"></span>
        {{overflowLabel}}
      </button>
      <ul class="yxt-Nav-modal js-yxt-navModal {{#if expanded}}is-active{{/if}}"
        aria-labelledby="yxt-Nav-moreButton"
      ></ul>
    </div>
  {{/if}}
</nav>