<a class='yxt-CTA js-yxt-CTA{{#each _config._ctaModifiers}} yxt-CTA--{{this}}{{/each}}'
  href="//{{_config.url}}"
  target="{{_config.target}}"
  rel="noopener noreferrer nofollow"
>
  {{#if _config.icon}}
    <div class='yxt-CTA-icon' data-component='IconComponent' data-opts='{ "iconName": "{{_config.icon}}" }'></div>
  {{/if}}
  <div class='yxt-CTA-iconLabel'>
    {{_config.label}}
  </div>
</a>
