<a class='yxt-CTA js-yxt-CTA{{#each _config._ctaModifiers}} yxt-CTA--{{this}}{{/each}}{{#if _config.includeLegacyClasses}} yxt-Result-cta{{/if}}'
  href="{{_config.url}}"
  target="{{_config.target}}"
  rel="noopener noreferrer nofollow"
>
  {{#if hasIcon}}
    <div class='yxt-CTA-icon{{#if _config.includeLegacyClasses}} yxt-Result-ctaIconWrapper{{/if}}'>
      {{#if _config.includeLegacyClasses}}
        {{> icons/iconPartial iconName=_config.icon iconUrl=_config.iconUrl classNames="yxt-Results-ctaIcon" }}
      {{else}}
        {{> icons/iconPartial iconName=_config.icon iconUrl=_config.iconUrl }}
      {{/if}}
    </div>
  {{/if}}
  <div class='yxt-CTA-iconLabel{{#if _config.includeLegacyClasses}} yxt-Result-ctaLabel{{/if}}'>
    {{{_config.label}}}
  </div>
</a>
