<a class='yxt-CTA js-yxt-CTA{{#each _config._ctaModifiers}} yxt-CTA--{{this}}{{/each}} yxt-Result-cta'
  href="//{{_config.url}}"
  target="{{_config.target}}"
  rel="noopener noreferrer nofollow"
>
  {{#if _config.icon}}
    <div class='yxt-CTA-icon yxt-Result-ctaIconWrapper'
         data-component='IconComponent'
         data-opts='{ "iconName": "{{_config.icon}}", "classNames": "yxt-Result-ctaIcon" }'></div>
  {{/if}}
  <div class='yxt-CTA-iconLabel yxt-Result-ctaLabel'>
    {{{_config.label}}}
  </div>
</a>
