<a class='yxt-CTA js-yxt-CTA{{#each _config._context}} yxt-CTA--{{this}}{{/each}}'
  {{#if _config.url}} 
    href="{{_config.url}}"
    target={{#if _config.newWindow}}"_blank" rel="noopener noreferrer nofollow"{{else}}"_self"{{/if}}
  {{/if}}
>
  {{#if _config.icon}}
    <div class='yxt-CTA-icon' data-component='IconComponent' data-opts='{ "iconName": "{{_config.icon}}" }'></div>
  {{/if}}
  <div class='yxt-CTA-iconLabel'>
    {{_config.label}}
  </div>
</a>
