<div class="Icon Icon--{{name}} {{classNames}}" aria-hidden="true">
  {{#if iconUrl}}
    <img src="{{iconUrl}}" alt="" class="Icon-image">
  {{else}}
    {{icon iconName complexContentsParams}}
  {{/if}}
</div>
