<fieldset class="yxt-FilterOptions-fieldSet" data-label="{{label}}">
  <legend class="yxt-FilterOptions-legend">
    <div class="yxt-FilterOptions-legendLabel">
      {{#if showExpand}}
          <div class="yxt-FilterOptions-clickableLegend" role="button" tabindex="0" aria-expanded="{{expanded}}">
            <span class="yxt-FilterOptions-label">{{label}}</span>

            {{#if showNumberApplied}}
              {{#unless expanded}}
                {{#if selectedCount}}
                  <span class="yxt-FilterOptions-selectedCount js-yxt-FilterOptions-selectedCount">{{selectedCount}}</span>
                {{/if}}
              {{/unless}}
            {{/if}}

            {{#if expanded}}
              <span class="yxt-FilterOptions-expand yxt-FilterOptions-collapseUp"
                data-component="IconComponent"
                data-opts='{ "iconName": "chevron" }'></span>
            {{else}}
              <span class="yxt-FilterOptions-expand yxt-FilterOptions-collapseDown"
                data-component="IconComponent"
                data-opts='{ "iconName": "chevron" }'></span>
            {{/if}}
          </div>
        {{else}}
          <span class="yxt-FilterOptions-label">{{label}}</span>
      {{/if}}
      {{#unless showExpand}}
        <button class="yxt-FilterOptions-reset js-yxt-FilterOptions-reset yxt-FilterOptions-reset--right{{#unless displayReset}} js-hidden{{/unless}}">
          {{resetLabel}}
        </button>
      {{/unless}}
    </div>
  </legend>

  <div class="yxt-FilterOptions-container js-yxt-FilterOptions-container{{#unless expanded}} yxt-FilterOptions--collapsed{{/unless}}">

    <div class="yxt-FilterOptions-controls">
      {{#if showExpand}}
        <span class="yxt-FilterOptions-buttonWrapper">
          <button class="yxt-FilterOptions-reset js-yxt-FilterOptions-reset{{#unless displayReset}} js-hidden{{/unless}}">
            {{resetLabel}}
          </button>
        </span>
      {{/if}}

    {{#if searchable}}
      <div class="yxt-FilterOptions-search js-yxt-FilterOptions-search">
        <input type="text" class="yxt-FilterOptions-filter js-yxt-FilterOptions-filter" aria-label="{{searchLabelText}}" placeholder="{{placeholderText}}">
        <button class="yxt-FilterOptions-clearSearch js-yxt-FilterOptions-clearSearch js-hidden"
          data-component="IconComponent"
          data-opts='{ "iconName": "close" }'
          data-prop="icon"></button>
      </div>
    {{/if}}
    </div>
    <div class='yxt-FilterOptions-options'>
      {{#each options}}
        {{#if ../isSingleOption}}
          <div class="singleoption-option yxt-FilterOptions-option js-yxt-FilterOptions-option
            {{#if (and ../showMore (gte @index ../showMoreLimit))}}
              js-yxt-FilterOptions-aboveShowMoreLimit
              {{#if ../showMoreState}} hidden{{/if}}
            {{/if}}">
            <input
              type="radio"
              class="js-yext-filter-option yxt-FilterOptions-input yxt-FilterOptions-radioButtonInput"
              id="js-yext-radio-{{../name}}-{{@index}}"
              name="{{../name}}"
              value="{{value}}"
              data-index="{{@index}}"
              {{#if selected}}checked{{/if}}>
            <label
              class="singleoption-label yxt-FilterOptions-radioButtonLabel"
              for="js-yext-radio-{{../name}}-{{@index}}">
              <span class="yxt-FilterOptions-optionLabel--name js-yxt-FilterOptions-optionLabel--name">
                {{label}}
              </span>
              <span class="yxt-FilterOptions-optionLabel--count">
                {{#if countLabel}}({{countLabel}}){{/if}}
              </span>
            </label>
          </div>
        {{else}}
          <div class="multioption-option yxt-FilterOptions-option js-yxt-FilterOptions-option
            {{#if (and ../showMore (gte @index ../showMoreLimit))}}
              js-yxt-FilterOptions-aboveShowMoreLimit
              {{#if ../showMoreState}} hidden{{/if}}
            {{/if}}">
            <input
              type="checkbox"
              class="js-yext-filter-option yxt-FilterOptions-input yxt-FilterOptions-checkboxInput js-yxt-FilterOptions-checkboxInput"
              id="js-yext-checkbox-{{../name}}-{{@index}}"
              value="{{value}}"
              data-index="{{@index}}"
              {{#if selected}}checked{{/if}}>
            <label
              class="yxt-FilterOptions-optionLabel js-yxt-FilterOptions-optionLabel"
              for="js-yext-checkbox-{{../name}}-{{@index}}">
              <span class="yxt-FilterOptions-optionLabel--name js-yxt-FilterOptions-optionLabel--name">
                {{label}}
              </span>
                <span class="yxt-FilterOptions-optionLabel--count">
                  {{#if countLabel}}({{countLabel}}){{/if}}
                </span>
            </label>
          </div>
        {{/if}}
      {{/each}}
    </div>

    {{#if showMore}}
      <button class="yxt-FilterOptions-showToggle js-yxt-FilterOptions-showToggle js-yxt-FilterOptions-showLess{{#if showMoreState}} hidden{{/if}}">
        <span class="yxt-FilterOptions-showToggleLabel">
          {{showLessLabel}}
        </span>
        <span class="yxt-FilterOptions-collapseUp"
          data-component="IconComponent"
          data-opts='{ "iconName": "chevron" }'></span>
      </button>
      <button class="yxt-FilterOptions-showToggle js-yxt-FilterOptions-showToggle js-yxt-FilterOptions-showMore{{#unless showMoreState}} hidden{{/unless}}">
        <span class="yxt-FilterOptions-showToggleLabel">
          {{showMoreLabel}}
        </span>
        <span class="yxt-FilterOptions-collapseDown"
          data-component="IconComponent"
          data-opts='{ "iconName": "chevron" }'></span>
      </button>
    {{/if}}
  </div>
</fieldset>
