<div class="yxt-GeoLocationFilter">
  <h1 class="yxt-GeoLocationFilter-title">{{title}}</h1>
  <div class="yxt-GeoLocationFilter-container">
    <div class="yxt-GeoLocationFilter-query">
      <form class="yxt-GeoLocationFilter-form">
        <label class="yxt-GeoLocationFilter-label" for="query">{{labelText}}</label>
        <input class="js-yxt-GeoLocationFilter-input yxt-GeoLocationFilter-input" type="text" name="query" value="{{geoValue}}"
          placeholder="{{geoPlaceholder}}"
        >
        <button type="button" class="js-yxt-GeoLocationFilter-button yxt-GeoLocationFilter-button" {{#if geoError}}disabled{{/if}}>
          {{#if geoButtonIcon}}
            <img src="{{geoButtonIcon}}" class="yxt-GeoLocationFilter-buttonImage" alt="{{_config.geoButtonIconAltText}}">
          {{/if}}
          <span class="yxt-GeoLocationFilter-buttonText {{#if geoButtonIcon}}sr-only{{/if}}">
            {{geoButtonText}}
          </span>
        </button>
      </form>
    </div>
    <div class="js-yxt-GeoLocationFilter-autocomplete yxt-GeoLocationFilter-autocomplete"></div>
  </div>
</div>
