<fieldset class="multioption-fieldset">
  <legend class="multioption-legend">
    {{label}}
  </legend>
  {{#each options}}
    <div class="multioption-option">
      <input
        type="checkbox"
        class="js-yext-filter-option"
        id="js-yext-checkbox-{{../name}}-{{@index}}"
        value="{{value}}"
        data-index="{{@index}}"
        {{#if selected}}checked{{/if}}>
      <label class="multioption-label" for="js-yext-checkbox-{{../name}}-{{@index}}">{{label}} {{#if countLabel}}({{countLabel}}){{/if}}</label>
    </div>
  {{/each}}
</fieldset>
