<fieldset class="singleoption-fieldset">
  <legend class="singleoption-legend">
    {{label}}
  </legend>
{{#each options}}
  <div class="singleoption-option">
    <input
      type="radio"
      class="js-yext-filter-option"
      id="js-yext-radio-{{../name}}-{{@index}}"
      name="{{../name}}"
      value="{{value}}"
      data-index="{{@index}}"
      {{#if selected}}checked{{/if}}>
    <label class="singleoption-label" for="js-yext-radio-{{../name}}-{{@index}}">{{label}} {{#if countLabel}}({{countLabel}}){{/if}}</label>
  </div>
{{/each}}
</fieldset>