{{#unless isNoResults}}
<fieldset class='yxt-SortOptions-fieldSet'>
  <legend class='yxt-SortOptions-legend'>
    <div class='yxt-SortOptions-legendLabel'>
      {{_config.label}}
    </div>
  </legend>

  <button class='yxt-SortOptions-reset {{#unless showReset}}js-hidden{{/unless}}'>{{_config.resetLabel}}</button>

  <div class='yxt-SortOptions-container'>
    <div class='yxt-SortOptions-options'>
      {{#each options}}
        <div class='yxt-SortOptions-option'>
          <input
            type='radio'
            name='yxt-SortOptions-radio_{{../name}}'
            id='yxt-SortOptions-option_{{../name}}_{{@index}}'
            value='{{@index}}'
            class='{{../_config.optionSelector}}'
            {{#if this.isSelected}} checked {{/if}}
          >
          <label class='yxt-SortOptions-optionLabel' for='yxt-SortOptions-option_{{../name}}_{{@index}}'>
            {{this.label}}
          </label>
        </div>
      {{/each}}
    </div>

    {{#if _config.showMore}}
      {{#if hideExcessOptions}}
        <button class='yxt-SortOptions-showToggle'>
          {{_config.showMoreLabel}}
          <span class='yxt-SortOptions-collapseDown'
            data-component='IconComponent'
            data-opts='{ "iconName": "chevron" }'></span>
        </button>
      {{else}}
        <button class='yxt-SortOptions-showToggle'>
          {{_config.showLessLabel}}
          <span class='yxt-SortOptions-collapseUp'
            data-component='IconComponent'
            data-opts='{ "iconName": "chevron" }'></span>
        </button>
      {{/if}}
    {{/if}}
  </div>

  {{#unless _config.searchOnChange}}
    <button type='button' class='yxt-SortOptions-apply'>
      {{_config.applyLabel}}
    </button>
  {{/unless}}
</fieldset>
{{/unless}}


